/* register the fonts in assets/fonts */
@font-face {
    font-family: 'PP Radio Grotesk';
    src: url('../fonts/PPRadioGrotesk-Medium.ttf') format('truetype');
    src: url('../fonts/PPRadioGrotesk-Medium.otf') format('opentype');
    src: url('../fonts/PPRadioGrotesk-Medium.woff') format('woff');
    src: url('../fonts/PPRadioGrotesk-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}