.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.z-index-max {
	z-index: 100;
}

.btn {
	all: unset;
	display: inline-block;
	cursor: pointer;
	padding: 18px 22px 14px;
	border-radius: 8px;
	&.btn-white {
		background: $light;
		color: $dark;
	}
	&.btn-glass {
		background: rgba($light, 0.13);
		color: $light;
		border: 1px solid rgba($light, 0.20);
	}
}

h1 {
	font-size: 5em;
}
h2 {
	font-size: 3.5em;
}
h3 {
	font-size: 2.5em;
}
h4 {
	font-size: 2em;
}