/* ===GLOBAL=== */

.homepage {
    background: $dark;
    color: $white;
    overflow-y: hidden;
}

.magnetic {
    transition: all .3s ease;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

/* ===BACKGROUND=== */

.gradients {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;

    .gradient {
        width: 1700px;
        height: 1700px;
        opacity: 0.09;
        position: absolute;

        &.purple {
            @include gradient(rgb(242, 27, 56));
            filter: hue-rotate(350deg);
        }
        &.blue {
            @include gradient(rgb(27, 145, 242));
        }
    }


    #gradient-1 {
        left: -400px;
        top: 200px;
    }
    #gradient-2 {
        right: -500px;
        top: 300px;
    }
    #gradient-3 {
        right: -300px;
        top: -300px;
    }
    #gradient-4 {
        right: -100px;
        top: -900px;
    }

}

#intro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    @include sm {
        margin-bottom: 30px;
    }

    #intro-title {
        font-size: 6em;
        line-height: 1.05em;
        max-width: 18ch;
        @include md {
            font-size: 4.5em;
        }
        @include sm {
            font-size: 4em;
        }
    }
    
    #intro-description {
        color: #C2C2C2;
        line-height: 1.65em;
        margin: 32px 0 40px;
        display: block;
        font-size: 14px;
        max-width: 70ch;
    }
    
    #intro-buttons {
        .btn:not(:first-child) {
            margin-left: 15px;
        }
    }
}



.grain {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-size: 40%;
    opacity: 0.05;
    mix-blend-mode: hard-light;
    pointer-events: none;
    animation: noise 200ms infinite;
}

/* make grain background move */
@keyframes noise {
    0% { background-position: 0 0; }
    10% { background-position: -19px 20px; }
    20% { background-position: -11px 17px; }
    30% { background-position: 12px 14px; }
    40% { background-position: -10px 28px; }
    50% { background-position: 11px 23px; }
    60% { background-position: -32px 15px; }
    70% { background-position: 19px 22px; }
    80% { background-position: 12px 17px; }
    90% { background-position: 17px 26px; }
    100% { background-position: 17px -8px; }
  }

/* ===SKILLS=== */

#skills-wrapper {
    margin: 0 20px 0 40px;
    min-height: 480px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    @include md {
        min-height: 300px;
        margin: 0 0 20px 0;
    }
    .skill-wrapper {
        position: absolute;
        .skill {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 30rem;
            height: 40rem;
            font-size: 9.5rem;
            background-color: #000e4a;
            background-color: #e8f3ff;
            &.skill__large {
                width: 120px;
                height: 120px;
                border-radius: 20px;
                background-size: 620px;
                background-position: -110px -50px;
                @include md {
                    width: 70px;
                    height: 70px;
                    border-radius: 10px;
                }
            }
            &.skill--small {
                width: 60px;
                height: 60px;
                border-radius: 10px;
                background: rgba($light,0.08);
                border: 1px solid rgba($light, 0.25);
                @include md {
                    width: 45px;
                    height: 45px;
                    border-radius: 8px;
                }
                .skill--small__logo {
                    padding: 10px;
                    fill: $light;
                    color: $light;
                }
            }
        }
        .skill-logo {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            .skill-logo__image {
                width: 100%;
                height: 100%;
                padding: 15px;
            }
        }
    }

    #skill-php {
        left: 10%;
        top: 9%;
    }

    #skill-js {
        right: 11%;
        bottom: 41%;
    }

    #skill-dotnet {
        bottom: 5%;
        left: 25%;
    }

    #skill-laravel {
        left: 43%;
        top: 0;
    }

    #skill-elastic {
        top: 13%;
        right: 18%;
    }

    #skill-craftcms {
        right: 42%;
        top: 20%;
    }

    #skill-azure {
        top: 50%;
        left: 40%;
    }

    #skill-python {
        top: 40%;
        left: 16%;
    }

    #skill-next {
        bottom: 23%;
        left: 3%;
    }

    #skill-solidity {
        bottom: 5%;
        right: 24%;
    }

    #skill-docker {
        bottom: 22%;
        right: 13%;
    }
}

/* ===SECTIONS=== */

/* =INTRO= */
  #section-intro {
    min-height: 100vh;
    header {
        margin-bottom: 115px;
    }
  }

  /* =WORK= */
  #section-work {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: center;
    .expanding-background {
        position: absolute;
        width: calc(100% - 200px);
        height: calc(100% - 140px);
        border-radius: 30px;
        background: $light;
        padding: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include md {
            width: 100%;
        }
        @include sm {
            border-radius: 20px;
        }
    }
  }

  #section-contact {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  #work-section {
    position: relative;
    width: 100%;
    margin: 120px 0;
    z-index: 5;
    color: $dark;
    @include sm {
        margin: 90px 0 70px;
    }
    .work-item {
        margin: 65px 0;
        @include sm {
            margin: 45px 0 20px;
        }
        .work-image {
            position: relative;
            width: 450px;
            overflow: hidden;
            border-radius: 20px;
            @include lg {
                width: 300px;
                height: 300px;
            }
            @include md {
                width: calc(100% - 80px);
                margin: 0 40px 16px;
            }
            @include sm {
                width: calc(100%);
                margin: 0 0px 16px;
            }
            img {
                position: absolute;
                width: 550px;
                height: 550px;
                bottom: -50px;
                right: -100px;
                @include lg {
                    width: 400px;
                    height: 400px;
                    right: 0;
                }
                
            }
        }
        .work-image-background {
            width: 100%;
            width: 450px;
            height: 450px;
            @include lg {
                width: 300px;
                height: 300px;
            }
            @include md {
                width: 100%;
                padding: 0 20px;
            }
            background: #1b161d;
            border-radius: 20px;
            
        }
        .work-content {
            padding: 0 40px;
            display: flex;
            justify-self: center;
            align-items: center;
            text-align: left;
            @include sm {
                padding: 0;
            }
            .work-skills {
                margin-top: 30px;
                font-size: 12px;
                flex-wrap: wrap;
                column-gap: 6px;
                @include md {
                    margin-top: 20px;
                }
                > .tag {
                    margin-bottom: 6px;
                }
            }
            .work-content__title {
                font-size: 2.2em;
                margin-bottom: 20px;
                @include md {
                    font-size: 1.8em;
                }
            }
            .btn {
                margin-top: 20px;
            }
        }

        /* id overrides */
        &#item-microservices {
            .work-image {
                img {
                    right: -30px;
                    bottom: 0;
                }
            }
        }
        &#item-web-3 {
            .work-image {
                img {
                    right: 30px;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    @include md {
                        width: 350px;
                        right: 150px;
                    }
                }
            }
            #special-img-web3-toplayer {
                position: absolute;
                width: 500px;
                height: 500px;
                z-index: 4;
                left: 20px;
                pointer-events: none;
                @include lg {
                    width: 350px;
                    height: 350px;
                }
                @include md {
                    left: unset;
                    right: -30px;
                }
            }
        }
    }
  }

  .extra-work {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 60px 0 20px;
    @include md {
        padding: 0 40px;
    }
    @include sm {
        padding: 0;
    }
    .extra-work-item {
        display: grid;
        /* 8 grid columns */
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        margin: 20px 0;
        border-bottom: 1px solid $dark;
        align-items: center;
        padding-right: 10px;
        @include md {
            display: flex;
            justify-content: space-between;
        }
        .extra-work-item__title {
            font-size: 1.2em;
            @include sm {
                font-size: 0.9em;
            }
            /* 2 grid colspan 8*/
            grid-column: 1 / span 2;
        }
        .extra-work-item__tools {
            font-size: 12px;
            grid-column: 3 / span 2;
            flex-wrap: wrap;
            @include sm {
                font-size: 10px;
            }
            span {
                padding: 6px;
                border: 1px solid rgba($dark, 0.8);
                color: rgba($dark, 0.8);
                border-radius: 40px;
                /* never break words */
                white-space: nowrap;
                @include sm {
                    padding: 4px;
                }
            }
        }
        .extra-work-item__github {
            grid-column: 7 / span 1;
        }
        .extra-work-item__link {
            grid-column: 8 / span 1;
        }
        .extra-work-item__github, .extra-work-item__link {
            text-align: right;
            svg {
                width: 27px;
                height: 27px;
                fill: rgba($dark, 0.85);
                color: rgba($dark, 0.85);
                @include sm {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
  }