/* ===GLOBAL=== */

.homepage {
    background: $dark;
    color: $white;
}

.magnetic {
    transition: all .3s ease;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

/* ===BACKGROUND=== */

.gradients {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;

    .gradient {
        width: 1700px;
        height: 1700px;
        opacity: 0.09;
        position: absolute;

        &.purple {
            @include gradient(rgb(242, 27, 56))
        }
        &.blue {
            @include gradient(rgb(27, 145, 242))
        }
    }


    #gradient-1 {
        left: -400px;
        top: 200px;
    }
    #gradient-2 {
        right: -500px;
        top: 300px;
    }
    #gradient-3 {
        right: -300px;
        top: -300px;
    }
    #gradient-4 {
        right: -100px;
        top: -900px;
    }

}

#intro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;

    #intro-title {
        font-size: 6.2em;
        line-height: 1.1em;
    }
    
    #intro-description {
        color: #C2C2C2;
        line-height: 1.85em;
        margin: 26px 0 20px;
        display: block;
        font-size: 14px;
        max-width: 70ch;
    }
    
    #intro-buttons {
        .btn:not(:first-child) {
            margin-left: 15px;
        }
    }
}



.grain {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-size: 70%;
    opacity: 0.05;
    mix-blend-mode: lighten;
    animation: noise 300ms infinite;
}

@keyframes noise {
    0%   {background-position: -5px 0px}
    10%   {background-position: 10px -5px}
    20%   {background-position: 0px 5px}
    30%   {background-position: 10px -10px}
    40%   {background-position: -5px 5px}
    50%   {background-position: 10px -5px}
    60%   {background-position: -5px 5px}
    70%   {background-position: 5px 0px}
    80%   {background-position: -5px 10px}
    90%   {background-position: 0px 0px}
    100%   {background-position: 0px -5px}
  }

/* ===SKILLS=== */

#skills-wrapper {
    margin: 0 20px 0 40px;
    min-height: 480px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .skill-wrapper {
        position: absolute;
        .skill {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 30rem;
            height: 40rem;
            font-size: 9.5rem;
            background-color: #000e4a;
            background-color: #e8f3ff;
            &.skill__large {
                width: 120px;
                height: 120px;
                border-radius: 20px;
                background-size: 620px;
                background-position: -110px -50px;
            }
            &.skill--small {
                width: 60px;
                height: 60px;
                border-radius: 10px;
                background: $light;
                .skill--small__logo {
                    padding: 10px;
                }
            }
        }
        .skill-logo {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            .skill-logo__image {
                width: 100%;
                height: 100%;
                padding: 15px;
            }
        }
    }

    #skill-php {
        left: 10%;
        top: 9%;
    }

    #skill-js {
        right: 11%;
        bottom: 41%;
    }

    #skill-dotnet {
        bottom: 5%;
        left: 25%;
    }

    #skill-laravel {
        left: 43%;
        top: 0;
    }

    #skill-symfony {
        top: 13%;
        right: 18%;
    }

    #skill-craftcms {
        right: 42%;
        top: 20%;
    }

    #skill-aws {
        top: 50%;
        left: 40%;
    }

    #skill-python {
        top: 40%;
        left: 16%;
    }

    #skill-vue {
        bottom: 23%;
        left: 3%;
    }

    #skill-solidity {
        bottom: 5%;
        right: 24%;
    }

    #skill-docker {
        bottom: 22%;
        right: 13%;
    }
}

/* ===SECTIONS=== */

/* =INTRO= */
  #section-intro {
    min-height: 100vh;
    header {
        margin-bottom: 115px;
    }
  }

  /* =WORK= */
  #section-work {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: center;
    .expanding-background {
        position: absolute;
        width: calc(100% - 200px);
        height: calc(100% - 140px);
        border-radius: 30px;
        background: $light;
        padding: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
  }

  #section-contact {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: center;
  }

  #work-section {
    position: relative;
    width: 100%;
    margin: 120px 0;
    z-index: 5;
    color: $dark;
    .work-item {
        margin: 90px 0;
        .work-image-background {
            width: 100%;
            width: 450px;
            height: 550px;
            background: $dark;
            border-radius: 20px;
        }
        .work-content {
            padding: 0 60px;
            display: flex;
            justify-self: center;
            align-items: center;
            text-align: left;
            .work-content__title {
                font-size: 3em;
                margin-bottom: 20px;
            }
            .btn {
                margin-top: 20px;
            }
        }
    }
  }
