.page {
    background: $dark;
    color: $white;
    overflow-y: hidden;
    @include md {
        .site-top-menu {
            margin-top: 0;
            .site-logo {
                margin: 0;
            }
        }
    }
}

.page-back-button {
    border-radius: 10px;
    background: rgba($light, 0.08);
    border: 1px solid rgba($light, 0.4);
    display: flex;
    padding: 10px;
    align-items: center;
    svg {
        width: 25px;
        height: 25px;
        stroke: rgba($light, 0.85);
    }
}

.page-header {
    padding-bottom: 60px;
    .page-title {
        font-size: 4em;
        max-width: 30ch;
        margin: 0 auto;
        text-align: center;
        @include lg {
            font-size: 2.5em;
        }
    }
}

.page-content {
    background: $light;
    color: $dark;
    border-radius: 20px 20px 0 0;
    padding: 90px 0 0 0;
    @include md {
        border-radius: 12px 12px 0 0;
        padding: 40px 0 0 0;
    }
    a {
        color: $purple;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .page-grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 20px;
        padding: 20px;
        @include md {
            grid-gap: 12px;
            padding: 12px 12px 12px 0;
            display: flex;
            flex-direction: column;
            padding: 0;
        }
        .page-grid-pre {
            font-family: $radiogrotesk;
            font-size: 1.7em;
            grid-column: 1 / 2;
            display: flex;
            @include md {
                display: none;
            }
            .page-grid-number {
                font-size: 1.2em;
                opacity: 0.85;
            }
        }
        .page-grid-content {
            grid-column: 2 / 7;
            @include lg {
                grid-column: 2 / 8;
            }
            @include md {
                grid-column: 1 / 9;
                order: 2;
            }
            * {
                max-width: 100%;
            }
            h1, h2, h3, h4, h5, h6 {
                margin: 1.2em 0 0.4em 0;
                &:first-child {
                    margin-top: 0;
                }
            }
            h1 {
                font-size: 2.8em;
            }
            h2 {
                font-size: 2.4em;
            }
            h3 {
                font-size: 1.6em;
            }
            h4, h5, h6 {
                font-size: 1em;
            }
        }
        .page-grid-links {
            grid-column: 8 / 9;
            @include md {
                grid-column: 1 / 2;
                order: 1;
                margin-bottom: 16px;
            }
            .page-grid-link {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $dark;
                margin-bottom: 10px;
                svg {
                    margin-right: 10px;
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
    .single-footer {
        position: relative;
        overflow: hidden;
        background: $dark;
        color: $light;
        padding: 40px 0 20px;
        border-radius: 20px 20px 0 0;
        margin-top: 40px;
        .container {
            position: relative;
            z-index: 555;
        }
        .page-back-button {
            margin-bottom: auto;
        }
        #single-get-in-touch {
            @include md {
                text-align: center;
            }
            .contact-options {
                justify-content: flex-start;
                column-gap: 16px;
                margin: 26px 0 0;
                @include md {
                    justify-content: center;
                }
                .contact-option {
                    flex: unset;
                }
            }
        }

        .single-footer-closure {
            padding-bottom: 0;
        }
        #single-footer-gradients {
            z-index: 1;
            pointer-events: none;
            .single-footer__gradient {
                position: absolute;
                filter: blur(140px);
                opacity: 0.16;
            }
            #single-footer-gradient-1 {
                width: 500px;
                height: 200px;
                background: $red;
                top: -30px;
                left: 40px;
            }
            #single-footer-gradient-2 {
                width: 300px;
                height: 400px;
                background: $purple;
                bottom: -30px;
                left: 420px;
            }
            #single-footer-gradient-3 {
                width: 500px;
                height: 200px;
                background: $red;
                top: -30px;
                right: 40px;
                opacity: 0.1;
            }
        }
    }
}