$dark: #080809;
$white: #fff;
$light: #F2F7FB;
$dimmed: #C2C2C2;
$red: #ff0d41;
$purple: #6817ff;

// define color variables as css variables
:root {
    --dark: #090808;
    --white: #fff;
    --light: #F2F7FB;
    --dimmed: #C2C2C2;
}

$xl: 1400px;

$rubik: 'Rubik', sans-serif;
$radiogrotesk: 'PP Radio Grotesk', sans-serif;