<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rayco Haex">
    {{ $description := .Page.Description }}{{ if .Description }}<meta name="description" content="{{ .Description }}">
    {{ else }}<meta name="description" content="{{ .Site.Data.Homepage.Description }}">{{end}}
    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#080809">
    <meta property="og:title" content="Rayco Haex | {{ .Page.Title }}">
    <meta property="og:site_name" content="rayco.digital">
    <meta property="og:url" content="rayco.digital">
    {{ $description := .Page.Description }}{{ if .Description }}<meta property="og:description" content="{{ .Description }}">{{ else }}
    <meta property="og:description" content="{{ .Site.Data.Homepage.Description }}">{{ end }}
    <meta property="og:type" content="website">
    {{ $og := resources.Get "img/og.jpg" | resources.Fingerprint }}
    <meta property="og:image" content="{{ $og.Permalink }}?v=1">
    <title>Rayco Haex | {{ .Page.Title }}</title>
    {{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MVK5XFVQZ2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-MVK5XFVQZ2', { 'anonymize_ip': true });
    </script>
</head>
<body {{ if $.IsNode }} class="homepage" {{ else }} class="page" {{ end }} data-barba="wrapper">
    {{ block "main" .}}

    {{ end }}
    
    
{{ $homepage := resources.Get "js/app.js" | js.Build | resources.Minify | resources.Fingerprint }}
{{ $js := slice $homepage | resources.Concat "js/bundle.js" }}
<script src="{{$js.Permalink}}?v=1"></script>
{{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Data.Homepage.Description }}",
    "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
    "license": "{{ .Site.Params.Copyright }}"
}
</script>
{{ else if .IsPage }}
{{ $author :=  or (.Params.author) (.Site.Author.name) }}
{{ $org_name :=  .Site.Title }}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebPage",
    "articleSection": "{{ .Section }}",
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    "alternativeHeadline": "{{ .Params.lead }}",
    "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
    "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
    "isFamilyFriendly": "true",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
    },
    "author" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "creator" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "accountablePerson" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "copyrightHolder" : "Rayco Haex",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "publisher":{
        "@type":"Organization",
        "name": Rayco Haex Fullstack Webdeveloper,
        "url": {{ .Site.BaseURL }},
    },
    "image": {{ if .Params.images }}[{{ range $i, $e := .Params.images }}{{ if $i }}, {{ end }}{{ $e | absURL }}{{ end }}]{{ else}}{{.Site.Params.logo | absURL }}{{ end }},
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "genre" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
    "keywords" : [ {{ range $index, $keyword := .Params.keywords }}{{ if $index }}, {{ end }}"{{ $keyword }}" {{ end }}]
}
</script>
{{ end }}
</body>
</html>