{{ define "main" }}
    <main>
        <div asscroll-container class="z-index-max">
            <div>
                <section class="section-wrapper" id="section-intro">
                <!-- header -->
                    {{- partial "header.html" . -}}
                <!-- /header -->
                <!-- main -->
                    <div class="container">
                        {{- partial "home/landingsection.html" . -}}
                    </div>
                <!-- /main -->
                </section>

                <section class="section-wrapper" id="section-work">
                    <div id="work-section">
                        {{- partial "home/worksection.html" . -}}
                    </div>
                    <div class="expanding-background">
                    </div>
                </section>

                <section class="section-wrapper" id="section-contact">
                    
                </section>

                <footer class="site-footer">
                    2023 portfolio - designed & developed by Rayco Haex
                </footer>

                <div class="gradients">
                    <div class="gradient purple" id="gradient-1"></div>
                    <div class="gradient purple" id="gradient-2"></div>
                    <div class="gradient purple" id="gradient-3"></div>
                    <div class="gradient blue" id="gradient-4"></div>
                </div>
            </div>
        </div>

        {{ $noise := resources.Get "img/noise.jpg" }}
        {{ $noise := $noise.Fit "600x400" }}
        <div class="grain" style="background-image:url('{{$noise.RelPermalink}}')"></div>
    </main>
{{ end }}