
<div class="container container--small z-index-3" id="get-in-touch">
    <h2 class="text-center">Let's get in touch</h2>
    <!-- include component and pass parameter "lean" = true -->
    {{- partial "components/get-in-touch.html" (dict "context" . "lean" false) -}}
</div>
<div id="contact-section-gradients">
    <div id="contact-section-gradient-1" class="contact-section__gradient"></div>
    <div id="contact-section-gradient-2" class="contact-section__gradient"></div>
    <div id="contact-section-gradient-3" class="contact-section__gradient"></div>
</div>

