<div class="container container--small">
    <h2 class="text-center">Work highlights</h2>
    {{ range $i,$p := where .Site.Pages "Type" "work" }}
    <!-- if the loop iteration is odd add the grid--reverse class -->
    <div class="grid grid__1-1 work-item {{ if not (modBool $i 2) }}grid--reverse{{ end }}">
        <a href="{{ .Permalink }}" class="work-image">
            <img src="{{ .Params.image }}" alt="{{ .Title }}">
            <div class="work-image-background"></div>
        </a>
        <div class="work-content">
            <div>
                <h3 class="work-content__title">{{ .Title }}</h3>
                <p>{{ .Params.introduction }}</p>
                <a class="btn btn-dark" href="{{ .Permalink }}">Read more</a>
            </div>
        </div>
    </div>
    {{ end }}
</div>